@import "../../variables.scss";

.header-wrapper {
  height: max-content;
  width: 100%;

  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 10px 15% 0 15%;

  position: fixed;
  top: 0;

  background-color: white;

  z-index: 100;

  @media #{$mobile3} {
    padding: 10px 10% 0 10%;
  }

  @media #{$mobile2} {
    padding: 10px 5% 0 5%;
  }

  @media #{$mobile4} {
    padding: 10px 5%;
  }

  @media #{$mobile} {
    padding: 10px 10px;
  }

  & img {
    height: 40px;

    @media #{$mobile} {
      height: 20px;
    }
  }

  & .links-wrapper {
    height: 100%;

    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 10px;

    & a {
      color: #929292;
      font-weight: 500;
      text-decoration: none;
      padding: 0 3px;

      &.active {
        color: var(--color2);
        border-bottom: 1px solid;
        border-color: var(--color-blue-1);

        &:hover {
          padding-bottom: 0px;
        }
      }

      &:hover {
        padding-bottom: 5px;
      }
    }
  }
}
