.header-wrapper {
  height: 80px;
  width: 100%;

  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 5px 15%;

  position: fixed;
  top: 0;

  background-color: white;

  z-index: 100;

  & img {
    height: 60px;
  }

  & .links-wrapper {
    height: 100%;

    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 10px;

    & a {
      color: #929292;
      font-weight: 500;
      text-decoration: none;
      padding: 0 3px;

      &.active {
        color: var(--color2);
        border-bottom: 1px solid;
        border-color: var(--color-blue-1);

        &:hover {
          padding-bottom: 0px;
        }
      }

      &:hover {
        padding-bottom: 5px;
      }
    }
  }
}
