<div class="dropdown-menu-wrapper">
  <div id="dropdown-button" #button (click)="isDropdownActive = true">
    <div class="button-wrapper">
      {{ selectedOption?.name || dropdownName }}

      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="size-6"
        *ngIf="selectedOption"
        (click)="
          selectedOption = undefined;
          cleared();
          $event.stopImmediatePropagation()
        "
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M6 18 18 6M6 6l12 12"
        />
      </svg>
    </div>
    <div class="dropdown" [ngClass]="{ active: isDropdownActive }">
      <ul>
        <li *ngFor="let option of options">
          <a
            (click)="
              selectedOption = option;
              clicked();
              log(selectedOption);
              isDropdownActive = false;
              $event.stopImmediatePropagation()
            "
            >{{ option.name }}</a
          >
        </li>
      </ul>
    </div>
  </div>
</div>
