.dropdown-menu-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  & #dropdown-button {
    border: 1px solid;
    border-color: var(--color-gray2);
    background-color: white;
    padding: 4px 10px;
    display: inline-block;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    font-size: 14px;

    width: max-content;

    & .button-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;

      & svg {
        width: 18px;
        color: #8b8b8b;
      }
    }

    &:hover {
      background-color: #f4f4f4;
    }
  }

  & .dropdown {
    border: 1px solid;
    border-color: var(--color-gray2);
    position: absolute;
    width: max-content;
    height: max-content;
    border-radius: 4px;
    left: 0;
    top: 30px;

    display: none;

    overflow: auto;

    z-index: 150;

    background-color: white;

    & ul {
      list-style: none;
      padding: 0;
      margin: 0;

      display: flex;
      flex-direction: column;

      & a {
        text-decoration: none;
        color: black;
        padding: 10px 20px;
        display: block;
        border-bottom: 1px solid;
        border-color: var(--color-gray2);

        &:hover {
          background-color: #f8f8f8;
        }
      }
    }
  }

  & .active {
    display: block;
  }
}
