@import "../../../variables.scss";

.search-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 15% 0 15%;

  @media #{$mobile3} {
    padding: 10px 10% 0 10%;
  }

  @media #{$mobile2} {
    padding: 10px 5% 0 5%;
  }

  @media #{$mobile4} {
    flex-wrap: wrap;
  }

  @media #{$mobile} {
    padding: 0;
    margin-bottom: 10px;
  }

  & .search-title {
    font-size: 24px;
    font-weight: 500;

    @media #{$mobile4} {
      width: 100%;
      margin-bottom: 10px;
    }

    @media #{$mobile} {
      font-size: 18px;
      width: 100%;
      margin-bottom: 5px;
    }
  }

  & .combined-wrapper {
    display: flex;
    flex-direction: row;
    width: 400px;

    @media #{$mobile3} {
    }

    @media #{$mobile2} {
    }

    @media #{$mobile4} {
      width: 100%;
    }

    @media #{$mobile} {
      width: 100%;
    }

    & .search-input-wrapper {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      border-radius: 4px;

      padding: 4px 10px;
      margin-right: 5px;

      border: 1px solid;
      border-color: var(--color-gray-2);

      gap: 5px;

      @media #{$mobile} {
        width: 100%;
      }

      & input {
        width: max-content;
        border: none;
        font-size: 14px;
        color: #000000;

        @media #{$mobile} {
          width: 100%;
        }
      }

      & input:focus {
        outline: none;
      }

      & svg {
        width: 16px;
        color: #686868;
      }

      & .clear {
        width: 18px;
        color: #8b8b8b;
        cursor: pointer;
      }
    }

    & .sort-wrapper {
      width: max-content;
      padding: 0 5px;
      margin-left: 5px;

      display: flex;
      align-items: center;

      border: 1px solid;
      border-color: var(--color-gray-2);
      border-radius: 4px;

      cursor: pointer;

      &:hover {
        background-color: #f8f8f8;
      }

      & svg {
        width: 18px;
      }
    }
  }
}
