<div class="form-wrapper">
  <div class="form-title">Unos novog zaposlenika</div>
  <br />
  <form [formGroup]="employeeForm" (ngSubmit)="submit()">
    <div>
      <label>Ime</label>
      <br />
      <input type="text" [formControl]="employeeForm.controls.name" />

      @if (submittedWithErrors &&
      (employeeForm.controls.name.errors?.['minlength'] ||
      employeeForm.controls.name.errors?.['required'])){
      <div class="error">Ime mora sadržavati najmanje 3 znaka.</div>
      }
    </div>
    <div>
      <label>Prezime</label>
      <br />
      <input type="text" [formControl]="employeeForm.controls.lastname" />

      @if (submittedWithErrors &&
      (employeeForm.controls.lastname.errors?.['minlength'] ||
      employeeForm.controls.lastname.errors?.['required'])){
      <div class="error">Prezime mora sadržavati najmanje 3 znaka.</div>
      }
    </div>
    <div>
      <label>Email</label>
      <br />
      <input type="text" [formControl]="employeeForm.controls.email" />

      @if (submittedWithErrors && (
      employeeForm.controls.email.errors?.['required'] ||
      employeeForm.controls.email.errors?.['email'])){
      <div class="error">Unesite valjanu email adresu.</div>
      }
    </div>
    <div>
      <label>Telefon</label>
      <br />
      <input type="text" [formControl]="employeeForm.controls.phone" />

      @if (submittedWithErrors &&
      (employeeForm.controls.phone.errors?.['pattern'] ||
      employeeForm.controls.phone.errors?.['required'])){
      <div class="error">Unesite valjani broj telefona.</div>
      }
    </div>
    <div>
      <div class="job-wrapper">
        <label>Radno mjesto</label>
        <!-- <br /> -->
        <!-- <input type="text" [formControl]="employeeForm.controls.jobTitle" /> -->
        <app-dropdown-menu
          [dropdownName]="'Odabir'"
          [options]="jobs"
          (selectedOptionEmit)="selectedJob = $event.value; jobChosen()"
          (clearedOptionEmit)="selectedJob = undefined; jobChosen()"
        ></app-dropdown-menu>
      </div>
      @if (submittedWithErrors &&
      employeeForm.controls.jobTitle.errors?.['required']){
      <div class="error">Odaberite radno mjesto.</div>
      }
    </div>
    <div>
      <div class="date-wrapper">
        <label>Datum rođenja</label>
        <input type="date" [formControl]="employeeForm.controls.dateOfBirth" />
      </div>
      @if (submittedWithErrors &&
      employeeForm.controls.dateOfBirth.errors?.['required']){
      <div class="error">Odaberite datum rođenja.</div>
      }
    </div>
    <div class="upload-wrapper">
      <div class="upload-button-wrapper">
        <label for="uploadButton">Prenesi profilnu sliku </label>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="size-6"
          *ngIf="employeeForm.controls.image.value"
          (click)="fileChosen(undefined); $event.stopImmediatePropagation()"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M6 18 18 6M6 6l12 12"
          />
        </svg>
      </div>

      <input
        type="file"
        id="uploadButton"
        [formControl]="employeeForm.controls.image"
        hidden
        (change)="fileChosen($event)"
      />
      @if (submittedWithErrors &&
      employeeForm.controls.image.errors?.['required']) {
      <span class="error">Nije odabrana datoteka.</span>} @else if
      (!employeeForm.controls.image.errors?.['required']) {
      <span id="file-chosen">{{ chosenFile }}</span
      >}
    </div>
    <!-- <button type="submit" [disabled]="!employeeForm.valid">Spremi</button> -->
    <button type="submit">Spremi</button>
  </form>
</div>
