<div class="form-wrapper">
  <form [formGroup]="employeeForm" (ngSubmit)="submit()">
    <div>
      <label>Ime</label>
      <br />
      <input type="text" [formControl]="employeeForm.controls.name" />

      @if (submittedWithErrors &&
      (employeeForm.controls.name.errors?.['minlength'] ||
      employeeForm.controls.name.errors?.['required'])){
      <div class="error">Ime mora sadržavati najmanje 3 znaka.</div>
      }
    </div>
    <div>
      <label>Prezime</label>
      <br />
      <input type="text" [formControl]="employeeForm.controls.lastname" />

      @if (submittedWithErrors &&
      (employeeForm.controls.lastname.errors?.['minlength'] ||
      employeeForm.controls.lastname.errors?.['required'])){
      <div class="error">Prezime mora sadržavati najmanje 3 znaka.</div>
      }
    </div>
    <div>
      <label>Email</label>
      <br />
      <input type="text" [formControl]="employeeForm.controls.email" />

      @if (submittedWithErrors && (
      employeeForm.controls.email.errors?.['required'] ||
      employeeForm.controls.email.errors?.['email'])){
      <div class="error">Unesite valjanu email adresu.</div>
      }
    </div>
    <div>
      <label>Telefon</label>
      <br />
      <input type="text" [formControl]="employeeForm.controls.phone" />

      @if (submittedWithErrors &&
      (employeeForm.controls.phone.errors?.['pattern'] ||
      employeeForm.controls.phone.errors?.['required'])){
      <div class="error">Unesite valjani broj telefona.</div>
      }
    </div>
    <div>
      <label>Radno mjesto</label>
      <br />
      <input type="text" [formControl]="employeeForm.controls.jobTitle" />

      @if (submittedWithErrors &&
      employeeForm.controls.jobTitle.errors?.['required']){
      <div class="error">Odaberite radno mjesto.</div>
      }
    </div>
    <div>
      <div class="date-wrapper">
        <label>Datum rođenja</label>
        <input type="date" [formControl]="employeeForm.controls.dateOfBirth" />
      </div>
      @if (submittedWithErrors &&
      employeeForm.controls.dateOfBirth.errors?.['required']){
      <div class="error">Odaberite datum rođenja.</div>
      }
    </div>
    <div>
      <label>Slika</label>
      <br />
      <input type="file" [formControl]="employeeForm.controls.image" />
    </div>
    <!-- <button type="submit" [disabled]="!employeeForm.valid">Spremi</button> -->
    <button type="submit">Spremi</button>
  </form>
</div>
